body {
    margin: 5;
    font-family: 'Raleway', sans-serif;
    background-image: linear-gradient(to right, #8e9eab 0%, #eef2f3 100%);
}

image {
    max-width: 100%;
    height: auto;
}

h1 {
    text-align: center;
}